*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
src/server/CKE.Host/obj/Debug/net5.0/CKE.Host.csproj.AssemblyReference.cache
src/server/CKE.Modules.Account/obj/Debug/net5.0/CKE.Modules.Account.csproj.FileListAbsolute.txt
src/server/.vs/CKE/v16/.suo
